*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}

body{
    font-size: 18px;
}

button, input{
    outline: none;
    border: none;
    background: none;
}