// CORES
$primary:  #272222;
$color-bg: #fcfcfc;
$erro-msg: #c96e6e;

// FONTES
@font-face{
    font-family: "Komoda";
    src: url("../fonts/Komoda.otf") format("truetype");
}

@font-face{
    font-family: "Orkney";
    src: url("../fonts/Orkney\ Regular.otf") format("truetype");
}