// Variables
@import './gobal';
@import './variables';
@import './normalize';

// Components
@import '../components/Header/header';
@import '../components/Card/card';
@import '../components/Search/search'