section{
    width: 75%; height: 50vh;
    margin: 3em auto;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-family: Orkney, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 4px solid $primary;
    background: $color-bg;
    box-shadow: 0px 10px 10px #c5c4c4;
}

.text-card{
    width: 50%; height: 85%;
    @include d-flex-space-between;
    padding-left: 30px;
    color: $primary;
    animation: slide-1 1s ease-in-out;

    .main-text{
        height: 180px;
        @include d-flex-space-between;
        h2{
            font-size: 4rem;
            font-weight: normal;
        }

        h3{
            font-size: 3.5rem;
            font-weight: lighter;
        }
    }

    li{ 
        font-weight: 500;
        animation: slide-1 1s ease;
     
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i}10ms;
            }
        }
    }
}

.icon-card{
    width: 45%; height: 100%;
    @include d-flex-alig-center;
    background: $primary;
    overflow: hidden;
    
   .icon{
        width: 350px; height: 350px;
        @include d-flex-alig-center;
        animation: slide-2 1s ease;

        img{
            width: 90%;
        }
    }
}

@include animation-mixin(slide-2, 100%);
@include animation-mixin(slide-1, -100%);


@media (max-width: 768px){
    section{
        width: 100%; height: auto;
        margin: 1em auto;
        flex-direction: column-reverse;
    }

    .text-card{
        width: 100%; height: 85%;
        margin: 1em 0;
        align-items: center;
        padding-left: 0px;
        text-align: center;
    
        .main-text{
            height: 120px;
            margin-bottom: 1em;
            h2{
                font-size: 2rem;
            }
        }

        li{ 
            text-align: center;
        }
    }

    .icon-card{
        width: 100%;  height: 10%;
        
       .icon{
            width: 100%; height: 100%;
    
            img{
                width: 90%; height: 10%;
            }
        }
    }
}