header{
    width: 90%; height: 100px;
    margin: 1em auto;
    padding-top: 10px;
    @include d-flex-alig-center;
    color: $primary;
    font-family: Komoda, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

h1{
    font-size: 4rem;
    letter-spacing: 5px;
    margin-bottom: .2em;
}
